:root {
    --clr-navy: #001D4A;
    --clr-cyan: #00FFFF;
    --clr-white: #FFFFFF;
    --clr-gray-bg: #F4F7F9;
    --font-heading: 'Anton', sans-serif;
    --font-body: 'Inter', sans-serif;
}

html {
    font-family: var(--font-body);
    font-size: 1rem;
    /* 16px */
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-navy);
    margin: 0;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 400;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}